
button.btn2 {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
  cursor: pointer;
}
.btn2:before,
.btn2:after {
  content: "";
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}
.btn2:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}
.btn2:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}
.btn2:hover:before,
.btn2:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
}
.btn2:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
  cursor: pointer;
}
.panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}

.pink button {
  color: #eb1777;
  border-color: #eb1777;
  width: 150px;
}
.pink button:before,
.pink button:after {
  border-color: #eb1777;
}
.pink button:hover:before,
.pink button:hover:after {
  border-color: #eb1777;
}
.pink button:hover {
  color: #fff;
  background-color: #eb1777;
  border-color: #eb1777;
}
.pink .panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}

.borderless button {
  border-color: rgba(0, 0, 0, 0);
  color: #fb9701;
  font-weight: 900;
  font-size: 0.9rem;
}
.borderless button:hover {
  border-color: #fb9701;
  background-color: transparent;
  color: #fb9701;
}
.borderless button:before,
.borderless button:after {
  border-color: transparent;
}
.borderless button:hover:before,
.borderless button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fb9701;
}
